body {
    line-height: 1.5;
}

div.main-container {
    background: url("images/main-background.jpeg");
}

header nav {
    display: flex;
    justify-content: center;
}
header nav ul {
    display: flex;
}

main {
    text-align: center;
}

aside ul {
    display: flex;
}
aside ul img {
    width: 100%;
}

footer {
    font-size: 0.8334em;
}
footer p:first-of-type,
footer nav {
    display: inline-block;
}
footer nav ul {
    display: flex;
}